<!DOCTYPE html>
<html>
    <head>
        <style>
        
        h1 {text-align: center;}
        
       p {text-align: center;}
       div {text-align: center;}
       
        </style>

         <meta charset="UTF-8">
         <title>Construction labour's Productivity Prediction</title>
         <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
         <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
         <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
         <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<html lang="en">
</head>
    <marquee>Know Your labour Performance Productivity using IOT-Sensors</marquee>
    <body style="background-image: -webkit-Linear-gradient(left,#FF69B4,#FF8C00,#FAFAD2,#FAF0E6,#FFFAFA,#FFE4E1,#FFE4E1,#FFF5EE,#FFA07A,#FFFF00,#FFD700)">

    <head>
        <meta charset="UTF-8">
        <p>IOT IN CONSTRUCTION INDUSTRY FOR LABOUR PERFORMANCE PRODUCTIVITY PREDICTION</p>
    </head>
	 <marquee>The New Change To Construction Industry With IOT Implementation</marquee>
<div class="login">
             <center><img src="https://innodatatics.ai/assets/innologo.png"></center>
	     <center><img src="https://360digit.b-cdn.net/assets/img/logo/logo.png?v=1.1.5"></center>
             <img src="https://img.freepik.com/premium-vector/abstract-internet-things-concept-city-5g-iot-internet-things-communication-network-innovation-technology-concept-icon-connect-wireless-devices-networking-innovation-technology_36402-731.jpg?w=740"width="350" height="220">

<h1 style="color:black;">Construction Labour Performance Productivity Prediction</h1>
    <body>
       
        <form  action = "/success" method = "POST" 
            enctype="multipart/form-data">
            <table>
                <tr>
                    <th>DECISION TREE CLASSIFIER
			   <input type = "file" name = "file"  />
                           <input type = "submit"/>


						   
		    </th>
                </tr>
            </table>
            
        
        </form>
	
    </body>	
</html>   